{% extends 'admin/layout.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>Edition d'une réduction</h3>
    </div>

    <div class="row">
        <div class="col-md-8">
            {{ form(edit_form) }}
        </div>
    </div>    

        <a href="{{ path('reduction') }}">
            <span class="fas fa-list"></span>     Annuler et retour à la liste
        </a>

{% endblock %}
