{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>Nature de relation entre l'enfant {{ entity.enfant }} et le parent {{ entity.tuteur }}</h3>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            {{ form(edit_form) }}
        </div>
    </div>

    {% include 'admin/enfant/_link_retour.html.twig' with {'entity': entity } %}

{% endblock %}