{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="page-header">
        <h3>Liste des caisses d'allocation</h3>
    </div>

        {% include 'admin/caisse_allocation/actions.html.twig' %}

        <table class='table table-bordered table-hover'>
            <thead>
                <tr>                
                    <th>Nom</th>       
                    <th>Tuteurs</th>
                    {% if is_granted('ROLE_MERCREDI_ADMIN') %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('caisseallocation_show', { 'slugname': entity.slugname }) }}">{{ entity.nom }}</a></td>
                        <td>{{ entity.tuteur | length }}</td>
                        {% if is_granted('ROLE_MERCREDI_ADMIN') %}
                        <td>
                            <a href="{{ path('caisseallocation_edit', { 'id': entity.id }) }}" title="Editer"><button type="button" class="btn btn-primary btn-xs"><i class="far fa-edit"></i> Editer</button></a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
