{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>Ajout d'une caisse d'allocation</h3>
    </div>
    <div class="row">
        <div class="col-md-8">

            {{ form(form) }}

        </div>
    </div>

            <a href="{{ path('caisseallocation') }}">
              <span class="fas fa-list"></span>   Annuler et retour à la liste
            </a>

{% endblock %}
