{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="page-header">
        <h3>Nouvel animateur</h3>
    </div>

    {{ form(form) }}

    <a href="{{ path('admin_animateur') }}">
        <span class="fas fa-list"></span> Annuler
    </a>

{% endblock %}
