###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> acmarche/mercredi ###
/.idea/
/public/media/
/data
/public/uploads/
/public/files/
/public/enfants/
/public/animateurs/
/.php_cs.cache
/*.sql
###< acmarche/mercredi ###
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
