{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>
            Jour de garde : 
             {{ entity.datejour | date('l') | trans }} {{ entity.datejour | date('d-m-Y')}}
        </h3>        
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form(form) }}
        </div>
    </div>

        <a href="{{ path('jour_show', {'id' : entity.id }) }}">
            <span class="fas fa-list"></span>    Annuler et retour à la fiche
        </a>       

{% endblock %}