<div class="btn-group">
    <a href="{{ path('question_new') }}" class="btn btn-primary" role="button"><i class="fas fa-plus"></i>
        Ajouter</a>
    <br/>
</div>
<div class="btn-group">
    <a href="{{ path('question_trier') }}" class="btn btn-primary" role="button"><i class="fas fa-sort"></i>
        Ordre d'affichage</a>
</div>
<br/>