{% extends 'ecole/layout.html.twig' %}
{% block body %}
    <div class="page-header">
        <h3>Liste des écoles</h3>
    </div>

    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Enfants</th>
            <th>Accompagnateur(s)</th>
        </tr>
        </thead>
        <tbody>
        {% for ecole in ecoles %}
            <tr>
                <td><a href="{{ path('ecole_ecole_show', { 'id': ecole.id }) }}">{{ ecole }}</a></td>
                <td>{{ ecole.enfants | length }}</td>
                <td>{{ ecole.accompagnateurs | length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
