{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>Nouveau parent et enfant</h3>
    </div>

    {% include 'admin/quick/_form.html.twig' %}

{% endblock %}
