{% extends 'parent/layout.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>
            Modification de mes coordonnées de {{ entity }}
        </h3>
    </div>

    {% include 'parent/tuteur/form.html.twig' %}

    <a href="{{ path('parent_coordonnees') }}">
        <p>
            <span class="fas fa-list"></span> Annuler
        </p>
    </a>

{% endblock %}
