{% extends 'base.html.twig' %}

{% block title %}Mercredi et plaines{% endblock %}
{% block brand %}
    <a class="navbar-brand" href="{{ path('home_admin') }}" title="Accueil">
        <span class="fas fa-home"></span> Mercredi</a>
{% endblock %}

{% block menu_top %}
    {% include 'admin/menu.html.twig' %}
{% endblock %}

{% block body %}

{% endblock %}