<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('bootstrap/css/bootstrap.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('bootstrap/css/bootstrap-theme.min.css')) }}" rel="stylesheet">
    <title>Attestation fiscale</title>
</head>
<body>
<div class="container">