{% extends 'admin/layout.html.twig' %}

{% block body -%}
    <h2>Documentation</h2>

    <h4>L'ordre de l'enfant sur une présence</h4>
    <p> L'ordre est définit dans l'ordre suivant :</p>
    <ol class='list-group'>
        <li class='list-group-item'>Définit sur sa fiche d'identité</li>
        <li class='list-group-item'>Définit sur la relation entre lui et le parent</li>
        <li class='list-group-item'>Définit directement sur la présence</li>
    </ol>

{% endblock %}
