{% extends 'admin/layout.html.twig' %}

{% block body -%}
    <h2>Registre Rgpd</h2>

    Types de données collectées
    Nous collectons des données par différents canaux :

    Données que vous nous transmettez
    Lorsque vous créez un profil Doccle, vous nous fournissez déjà des données,
    notamment votre nom et votre adresse e-mail.
    Ces données ne sont jamais partagées avec des tiers.

    Droit de rectification
    Vous avez le droit d’obtenir immédiatement la rectification de toute donnée personnelle erronée. Nous allons même un peu plus loin et nous permettons d’adapter ou de corriger soi-même des données sur Doccle. Lorsque vous vous connectez à Doccle,
    vous pouvez modifier vos données et documents comme vous le souhaitez.

    <h4 class="text-success">Finalité</h4>
    Gestion des présences aux garderies et plaines des vacances

    <h4 class="text-success">Données présentent</h4>
    <div class="alert alert-info">
        <strong>Coordonnées des enfants:</strong>
        <br/>
        Nom, prénom, date de naissance, numéro national, sexe, école, année scolaire, photo
        <br/><br/>
        <strong>Coordonnées des parents:</strong><br/>
        Nom, prénom, date de naissance, adresse postale, téléphones, email, sexe<br/>
        Idem pour le conjoint
        <br/><br/>
        <strong> Liste des paiments effectués par le parent:</strong><br/>
        Montant, type de paiement, date...<br/>
        <br/>
        Au format papier : Fiche santé, fiche d'inscription
        <br/>

    </div>
    <h4 class="text-success">Différents niveaux d'accès</h4>
    <table class="table table-bordered">
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe }}</td>
                <td>{{ groupe.description }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}