{% extends 'front/layout.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>Notre blog</h3>
    </div>
    <p>
        Vous souhaitez suivre les activités de vos enfants et voir la réalisation de leur projet pendant les moments
        d'accueil, alors inscrivez-vous sur "not'blog".
    </p>
    <p> Enregistrez-vous avec un identifiant, nom, prénom, téléphone, e-mail et mot de passe.
        <br />Un administrateur validera
        ensuite votre inscription pour que vous y ayez accès (cette dernière étape peut prendre plusieurs jours).
    </p>
    <p>
        Au plaisir de partager cela avec vous.
    </p>
    <p>
        <a href="http://notblog.marche.be/" target="_blank">http://notblog.marche.be/</a>
    </p>
{% endblock %}
