{% extends 'front/layout.html.twig' %}

{% block body -%}

    <div class="page-header">
        <h3>Bienvenue</h3>
    </div>

    <h3 style="color: #b92c28">
        Notre accueil reprend bien dés ce mercredi 02/09/2020 au sein de nos locaux, dans le respect des conditions liées à la crise sanitaire.
    </h3>

    <h4 class="text-success">Cher(s) Parent(s),</h4>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">

                <div class="panel-body">

                    <p class="text-justify">
                        L’accueil extrascolaire de l'ASBL "Espaces Parents Enfants" est accessible aux enfants âgés de
                        2,5 à 12 ans.
                        <br/><br/>
                        L’accueil ouvre :

                    <ul class="list-group">
                        <li class="list-group-item">
                            les mercredis en période scolaire
                        </li>
                        <li class="list-group-item">
                            les journées pédagogiques
                        </li>
                        <li class="list-group-item">
                            les congés scolaires (Automne, fin d’année, Détente, Printemps).
                        </li>
                    </ul>

                    <h4 class="text-success"> Comment s’inscrire à l’ASBL « Espaces Parents Enfants » ?</h4>
                    <ol class="list-group">
                        <li class="list-group-item">

                            1. Procéder à la pré-incription. La pré-inscription de chaque enfant est indispensable avant
                            sa 1ère
                            venue à l’EPE : <br/>prendre rendez-vous dans les bureaux de l’asbl « Espaces
                            Parents-Enfants »
                            ou venir
                            à la permanence les mercredis de 15h à 17h (hors vacances scolaires).
                            <br/>
                            <strong>Pour les familles recomposées,
                                une composition de ménage doit être fournie.</strong>
                        </li>
                        <li class="list-group-item">

                            2. Une fois la pré-inscription faite, vous recevez un mail sur votre boîte mail avec un mot
                            de
                            passe. Cela vous permettra de vous connecter sur ce site.
                        </li>
                    </ol>

                    Les inscriptions pour les accueils du mercredi, des journées pédagogiques et des plaines d'Automne,
                    fin d’année, Détente, Printemps se feront en ligne sur ce site internet.
                    <br/><br/>
                    Vous pourrez dès lors réserver ou annuler une réservation vous-même via ce programme sous un certain
                    délai.
                    <br/><br/>
                    <strong>Pour rappel:</strong>

                    <ul class="list-group-item">
                        <li>
                            La réservation du mercredi doit avoir lieu au maximum la veille, soit le mardi jusque 10h,
                            /!\ si la
                            séance n'est pas annulée dans le respect des délais ci-dessus, elle sera due.
                        </li>
                        <li>
                            Pour une journée pédagogique, vous devez inscrire votre enfant au plus tard 7 jours avant la
                            date.
                        </li>
                        <li>
                            Pour les plaines de vacances, les inscriptions débutent 4 semaines avant chaque période de
                            vacance
                            (hors été). Les inscriptions se clôturent le mercredi soir précédent la semaine des plaines.
                            C'est
                            le payement qui confirme l'inscription.
                        </li>
                    </ul>
                    <br/>
                    Si ces délais sont dépassés, prenez contact avec notre service.
                    <br/><br/>
                    Outre la réservation d'une date pour votre(vos) enfant(s),
                    <br/>vous pourrez apporter des modifications dans vos données personnelles.<br/><br/>

                    Cela vous permettra d'y indiquer des remarques éventuelles (retour avec telle personne,
                    information santé du jour,...)
                    qui seront affichées sur la liste des présences données aux animateurs le mercredi matin
                    à la première heure.
                    <br/><br/>

                    Merci pour votre fidelité et confiance.
                    <br/><br/>
                    L'équipe de l'Espace Parents Enfants


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            {# <img class="pull-right img-thumbnail img-responsive" style=""
                  src="{{ asset('images/equipe.jpg') }}"
                  alt="enfants">#}
        </div>
    </div>

    <br/><br/>

    <p style="text-align: left;"><strong>Vous cherchez une activité après l'école, une crèche, un stage, un mouvement de
            jeunesse, une aide aux devoirs? Retrouvez toutes ces informations sur nos différents sites.</strong></p>
    <p style="text-align: left;"><strong>Site de la ville</strong> : <a href="https://www.marche.be/">https://www.marche.be/</a>
    </p>
    <p style="text-align: left;"><strong>Inscription stages été</strong> : <a href="http://stages.marche.be/">http://stages.marche.be/</a>
    </p>
    <p style="text-align: left;"><strong>Activités enfance et jeunesse</strong> : <a
                href="http://enfance-jeunesse.marche.be/">http://enfance-jeunesse.marche.be/</a></p>

{% endblock %}
