{% extends 'parent/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>Nouvel inscrit</h3>
    </div>
    <br/><br/>
    Si vous vous retrouvez sur cette page, c'est que votre compte n'a pas encore été associé à celui de votre/vos enfant(s).
    <br/><br/>
    Si vous avez reçu une validation de la part de l'Espace Parents Enfants,
    <a href="{{ path('mercredi_logout') }}">déconnectez vous</a>
    puis reconnectez vous pour que les changements soient pris en compte.
    <br/><br/>
    Merci<br/>

{% endblock %}

