{% extends 'base.html.twig' %}

{% block title %}Mercredi{% endblock %}

{% block banner %}
    {% if not app.user %}
        <div id="header-img{{ random(6) }}" class="hidden-xs hidden-print"></div>
    {% endif %}
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('homepage') }}" title="Espace Parent Enfant">
        <span class="fas fa-home"></span> Epe</a>
{% endblock %}

{% block menu_top %}
    {% include 'front/menu.html.twig' %}
{% endblock %}

{% block body %}

{% endblock %}