<li>
    <a href="{{ path('modalite') }}">
        <span class="fas fa-info"></span> Modalités pratiques
    </a>
</li>
<li>
    <a href="{{ path('contact') }}">
        <span class="far fa-envelope"></span> Nous contacter
    </a>
</li>
<li>
    <a href="{{ path('blog') }}">
        <span class="fab fa-blogger"></span> Notre blog
    </a>
</li>