{% extends 'admin/layout.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>{{ accompagnateur.nom }} {{ accompagnateur.prenom }}</h3>
    </div>

    {{ include('admin/accompagnateur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <br />
    <a href="{{ path('admin_accompagnateur_show', {'id': accompagnateur.id}) }}">
        <span class="fas fa-list"></span> Annuler
    </a>

{% endblock %}
