{% if enfant.imageName is not empty %}
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" src="{{ enfant | enfantimage | imagine_filter('my_thumb') }}"
                     alt="{{ enfant.slugname }}">
            </a>
        </div>
        <div class="media-body">
            {% include 'parent/enfant/_entete.html.twig' %}
        </div>
    </div>
{% else %}
    {% include 'parent/enfant/_entete.html.twig' %}
{% endif %}

