<div class="text-center">
    Coordination Education Enfance — Complexe Saint François. Rue Victor Libert, 36E, 6900 Marche-en-Famenne
    <br/>084 32 69 90 — epe@marche.be
</div>
</div><!-- end container -->
</body>
</html>