{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>Edition de {{tuteur.prenom}} {{tuteur.nom}}</h3>
    </div>

    {% include 'admin/tuteur/form.html.twig' with {'form': edit_form } %}

    <div class="row">        
        <a href="{{ path('tuteur_show', {'slugname' : tuteur.slugname }) }}">
            <span class="fas fa-list"></span>    Annuler et retour à la fiche
        </a>       
    </div> 
{% endblock %}
